**/gen
**/.svn
**/bin
**/.settings
**/*.iml
**/*.pyc
gen
out
bin
.idea
.settings
*.iml
*.eml
*.class
.hxproj
.keystore
/Project.xml
/putaokey.keystore
/PtSanguo.hxproj
/.tags
readme.txt
FlxProject.sublime-project